// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_wip_attachment_preview_list {
    display: flex;
    flex-flow: wrap;

    > .o_item {
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 6px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

