// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_wip_chat_window_manager > .o_hidden_menu {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 50px;
    height: 28px;
    align-items: stretch;
    padding: 5px;

    > .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        max-width: 100%;

        > div {
            margin: 0 3px;

            &.o_icon {
                margin-right: 1px;
            }

            &.o_window_counter {
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 1px;
            }
        }
    }

    > .o_unread_counter {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        z-index: 1001; // on top of bootstrap dropup menu
    }

    > ul {
        overflow: auto;
        margin: 0;
        padding: 0;

        > li {

            &:not(:last-of-type) {
                margin-bottom: 1px;
            }

            > .o_wip_chat_window_header {
                max-width: 200px;
            }

        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_wip_chat_window_manager > .o_hidden_menu {
    background-color: gray('900');
    border-radius: 6px 6px 0 0;
    color: white;
    cursor: pointer;

    > .dropdown-toggle {

        &.show {
            opacity: 0.5;
        }

        > .o_window_counter {
            user-select: none;
        }
    }

    > .o_unread_counter {
        background-color: $o-brand-primary;
    }

    > ul > li {
        opacity: 0.95;

        &:hover {
            opacity: 1;
        }
    }
}