// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_wip_chat_window_manager > .o_chat_window.o_new_message > .o_selection {
    padding: 3px;
    display: flex;
    align-items: center;

    > input {
        flex: 1 1 auto;
    }

    > .o_label {
        margin-right: 5px;
        flex: 0 0 auto;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_wip_chat_window_manager > .o_chat_window.o_new_message > .o_selection {

    > input {
        outline: none;
        border: 1px solid gray('300'); // cancel firefox border on input focus
    }

}
