// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_wip_message {
    display: flex;
    flex: 0 0 auto;
    padding: 3px 5px;

    > .o_core {
        margin-right: 10px;
        overflow: auto;

        > .o_content {
            flex: 1 1 auto;
            min-width: 0;
            max-width: 100%;
            word-wrap: break-word;
            word-break: break-word;

            > p:last-of-type {
                margin-bottom: 0;
            }
        }

        > .o_footer {
            display: flex;
        }

        > .o_header {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            > .o_author_name {
                margin-right: 3px;
            }

            > .o_commands {
                margin-left: 3px;
                margin-right: 3px;
            }

            > .o_date {
                margin-left: 3px;
                margin-right: 3px;
                font-size: 0.9rem;
            }
        }
    }

    > .o_sidebar {
        flex: 0 0 50px;
        max-width: 50px;
        display: flex;
        margin-right: 5px;
        font-size: x-small;
        justify-content: center;

        &.o_squashed {
            align-items: flex-start;

            > .o_item {
                display: flex;
            }
        }

        > .o_item {
            margin-left: 3px;
            margin-right: 3px;

            &.o_avatar {
                width: 36px;
                height: 36px;
            }
        }
    }
}

.o_mail_wip_message__commands {
    display: flex;
    align-items: center;

    > .o_star {
        font-size: 1.3rem;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_wip_message {
    background-color: white;

    &:hover, &.o_toggled_click {

        .o_mail_wip_message__commands {
            opacity: 1;

            > .o_command {
                opacity: 1;
            }
        }

        .o_mail_wip_message__sidebar_item {
            opacity: 1;
        }
    }

    &.o_starred {

        .o_mail_wip_message__commands {
            opacity: 1;

            > .o_command.o_star {
                opacity: 1;
            }
        }
    }

    &.o_notification {
        background-color: gray('200');
    }

    > .o_core > .o_header > .o_author_name {
        font-weight: bold;
    }
}

.o_mail_wip_message__commands {
    opacity: 0;

    > .o_command {
        cursor: pointer;
        opacity: 0;

        &:not(:hover) {
            opacity: 0.6;
        }

        &.o_star {

            &:hover {
                filter: brightness(0.9);
            }

            &:not(.o_starred) {
                color: gray('500');
            }

            &.o_starred {
                color: gold;
            }
        }
    }
}

.o_mail_wip_message__date {
    color: gray('500');
}

.o_mail_wip_message__sidebar_item {
    opacity: 0;
}
