// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_message {
    display: flex;
    flex: 0 0 auto;
    padding: 3px 5px;

    @mixin display-star {

        // specific selector in order to have higher pririty than .o_sidebar.o_squashed > div
        > .o_sidebar.o_squashed > .o_commands {
            display: flex;

            > .o_star {
                display: flex;
            }
        }

        .o_commands {
            display: flex;

            > .o_star {
                display: flex;
            }
        }
    }

    @mixin display-commands {

        // specific selector in order to have higher pririty than .o_sidebar.o_squashed > div
        > .o_sidebar.o_squashed > .o_commands {
            display: flex;

            > div.o_command {
                display: flex;
            }
        }

        .o_commands {
            display: flex;

            > div.o_command {
                display: flex;
            }
        }
    }

    @mixin display-squashed-sidebar-items {
        > .o_sidebar.o_squashed > div {
            display: flex;
        }
    }

    &.o_starred {
        @include display-star;
    }

    &.o_toggled_click {
        @include display-commands;
        @include display-squashed-sidebar-items;
    }

    &:hover {
        @include display-commands;
        @include display-squashed-sidebar-items;
    }

    .o_commands {
        display: none;
        align-items: center;

        > .o_star {
            font-size: 1.3rem;
        }
    }

    > .o_core {
        margin-right: 10px;

        > .o_content {
            flex: 1 1 auto;
            min-width: 0;
            max-width: 100%;
            word-wrap: break-word;
            word-break: break-word;

            > p:last-of-type {
                margin-bottom: 0;
            }
        }

        > .o_header {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            > .o_author_name {
                margin-right: 3px;
            }

            > .o_commands {
                margin-left: 3px;
                margin-right: 3px;
            }

            > .o_date {
                margin-left: 3px;
                margin-right: 3px;
                font-size: 0.9rem;
            }
        }
    }

    > .o_sidebar {
        flex: 0 0 50px;
        max-width: 50px;
        display: flex;
        margin-right: 5px;
        font-size: x-small;
        justify-content: center;

        &.o_squashed {
            align-items: center;

            > div {
                display: none;
            }
        }

        > div {
            margin-left: 3px;
            margin-right: 3px;
        }

        > img {
            width: 36px;
            height: 36px;
        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_message {
    background-color: white;

    > .o_core > .o_header > .o_author_name {
        font-weight: bold;
    }

    .o_commands > .o_command {
        cursor: pointer;

        &:not(:hover) {
            opacity: 0.6;
        }

        &.o_star {

            &:not(:hover) {
                opacity: 0.8;
            }

            &:not(.o_starred) {
                color: gray('500');
            }

            &.o_starred {
                color: gold;
            }
        }
    }

    .o_date {
        color: gray('500');
    }
}
