// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

 .o_mail_wip_message_list {
    display: flex;
    flex-flow: column;
    overflow: auto;

    > .o_separator {
        display: flex;
        align-items: center;
        padding: 0 0;
        flex: 0 0 auto;

        &.o_date {
            padding: 5px 0;
        }

        &.o_new_messages {
            // bug with safari: container does not auto-grow from child size
            padding: 0 0;
        }

        > .o_label {
            padding: 0 10px;
        }

        > .o_line {
            flex: 1 1 auto;
            width: auto;
        }
    }

    > .o_loading_more, .o_load_more {
        align-self: center;

        > .o_icon {
            margin-right: 3px;
        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_wip_message_list {
    background-color: white;

    > .o_separator {
        font-weight: bold;

        &.o_new_messages {
            color: lighten($o-brand-odoo, 15%);

            > .o_line {
                border-color: lighten($o-brand-odoo, 15%);
            }
        }

        > .o_label {
            background-color: white;
        }

        > .o_line {
            border-color: gray('400');
        }
    }

    > .o_load_more {
        cursor: pointer;
    }
}
