// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_wip_systray_messaging_menu > .dropdown-menu {
    flex: 0 1 auto;
    min-height: 50px;
    max-height: 400px;
    width: 350px;
    overflow-y: auto;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_wip_systray_messaging_menu > a > i {
    font-size: larger
}
