// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

 .o_mail_wip_thread_preview_list {
    display: flex;
    flex-flow: column;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_wip_thread_preview_list > div:not(:last-of-type) {
    border-bottom: 1px solid gray('400');
}
