// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_attachment {
    display: flex;

    &:hover .o_mail_component_attachment__asideItemUnlink {
        transform: translateX(0);
    }
}

.o_mail_component_attachment__aside {
    min-width: 50px;
    position: relative;
    overflow: hidden;
}

.o_mail_component_attachment__asideItem {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.o_mail_component_attachment__asideItemUnlink {
    position: absolute;
    top: 0;
    transform: translateX(100%);
}

.o_mail_component_attachment__filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.o_mail_component_attachment__image {
    margin: 3px;
}

.o_mail_component_attachment__main {
    width: 200px;
    margin: 3px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_attachment {

    &.o_card_layout {
        background-color: gray('300');
        border-radius: 5px;
    }
}

.o_mail_component_attachment__aside {
    border-radius: 0 5px 5px 0;
}

.o_mail_component_attachment__asideItemUploaded {
    color: $o-brand-primary;
}

.o_mail_component_attachment__asideItemUnlink {
    background-color: $o-brand-primary;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: darken($o-brand-primary, 10%);
    }
}

.o_mail_component_attachment__extension {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 400;
}

.o_mail_component_attachment__image.o_viewable {
    cursor: zoom-in;

    &:hover {
        opacity: 0.7;
    }
}

// ------------------------------------------------------------------
// Animation
// ------------------------------------------------------------------

.o_mail_component_attachment__asideItemUnlink {
    transition: transform 0.3s ease 0s;
}
