// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_attachment_viewer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    z-index: -1;

    > .o_header {
        display: flex;
        height: $o-navbar-height;
        align-items: center;
        padding: 0 15px;
        width: 100%;

        > .o_item {
            margin: 0 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    > .o_next, > .o_previous {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
    }

    > .o_next {
        right: 15px;

        > .fa {
            margin: 1px 0 0 1px; // not correctly centered for some reasons
        }
    }

    > .o_previous {
        left: 15px;

        > .fa {
            margin: 1px 1px 0 0; // not correctly centered for some reasons
        }
    }

    > .o_toolbar {
        position: absolute;
        bottom: 45px;
        transform: translateY(100%);
        display: flex;

        > .o_item {
            padding: 8px;
        }
    }

    > .o_viewer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        padding: 45px 0;

        &.o_with_img {
            overflow: hidden;

            > .o_zoomer {
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                > .o_img {
                    max-height: 100%;
                    max-width: 100%;
                }

                > .o_owl_loading {
                    position: absolute;
                }
            }
        }

        > iframe {
            width: 90%;
            height: 100%;
        }

        > video {
            width: 75%;
            height: 75%;
        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_attachment_viewer {
    outline: none;

    > .o_header {
        background-color: rgba(0, 0, 0, 0.7);
        color: gray('400');

        > .o_download, > .o_close {
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
                color: lighten(gray('400'), 15%);
            }
        }

        > .o_close {
            cursor: pointer;
            font-size: 1.3rem;
        }
    }

    > .o_next, > .o_previous {
        color: gray('400');
        background-color: lighten(black, 15%);
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            color: lighten(gray('400'), 15%);
            background-color: black;
        }
    }

    > .o_toolbar {
        background-color: lighten(black, 15%);
        cursor: pointer;

        > .o_item {
            color: gray('400');

            &.o_disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }

            &:not(.o_disabled) {
                cursor: pointer;

                &:hover {
                    background-color: black;
                    color: lighten(gray('400'), 15%);
                }
            }
        }
    }

    > .o_viewer {

        > .o_zoomer > .o_img, > iframe, > video {
                background-color: black;
                box-shadow: 0 0 40px black;
                outline: none;
                border: none;

                &.o_text {
                    background-color: white;
                }
        }
    }
}

// ------------------------------------------------------------------
// Animation
// ------------------------------------------------------------------

.o_mail_component_attachment_viewer > .o_viewer > .o_zoomer > .o_img {
    transition: transform 0.3s ease;
}

