// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_attachmentList {
    display: flex;
    flex-flow: wrap;
}

.o_mail_component_attachmentList__attachment {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

