// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_ChatWindowHiddenMenu {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 50px;
    height: 28px;
    align-items: stretch;
    padding: 5px;
}

.o_mail_component_ChatWindowHiddenMenu__dropdownToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    max-width: 100%;
}

.o_mail_component_ChatWindowHiddenMenu__dropdownToggleIcon {
    margin-right: 1px;
}

.o_mail_component_ChatWindowHiddenMenu__dropdownToggleItem {
    margin: 0 3px;
}

.o_mail_component_ChatWindowHiddenMenu__list {
    overflow: auto;
    margin: 0;
    padding: 0;
}

.o_mail_component_ChatWindowHiddenMenu__listItem {

    &:not(:last-child) {
        margin-bottom: 1px;
    }
}

.o_mail_component_ChatWindowHiddenMenu__listItemComponent {
    max-width: 200px;
}

.o_mail_component_ChatWindowHiddenMenu__unreadCounter {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    z-index: 1001; // on top of bootstrap dropup menu
}

.o_mail_component_ChatWindowHiddenMenu__windowCounter {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_ChatWindowHiddenMenu {
    background-color: gray('900');
    border-radius: 6px 6px 0 0;
    color: white;
    cursor: pointer;
}

.o_mail_component_ChatWindowHiddenMenu__dropdownToggle.show {
    opacity: 0.5;
}

.o_mail_component_ChatWindowHiddenMenu__listItemComponent {
    opacity: 0.95;

    &:hover {
        opacity: 1;
    }
}

.o_mail_component_ChatWindowHiddenMenu__unreadCounter {
    background-color: $o-brand-primary;
}

.o_mail_component_ChatWindowHiddenMenu__windowCounter {
    user-select: none;
}
