// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_discuss_mobile_mailbox_selection {
    display: flex;

    > button {
        flex: 1 1 0;
        z-index: 1;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_discuss_mobile_mailbox_selection > button {
    box-shadow: 0 2px 4px gray('400');
}
