// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_autogrow {
    flex: 1 1 auto;
}

.o_mail_component_Discuss {
    display: flex;
    height: 100%;
    min-height: 0;

    &.o_mobile {
        flex-flow: column;
        align-items: center;
    }
}

.o_mail_component_Discuss__content {
    height: 100%;
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.o_mail_component_Discuss__mobileMailboxSelection {
    width: 100%;
}

.o_mail_component_Discuss__mobileNavbar {
    width: 100%;
}

.o_mail_component_Discuss__sidebar {
    height: 100%;
    overflow: auto;
    padding-top: 10px;
    flex: 0 0 auto;
}

.o_mail_component_Discuss__thread {
    flex: 1 1 auto;
}

.o_mail_component_Discuss__threadPreviewList {
    width: 100%;
    flex: 1 1 auto;
}
// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------
