// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_discuss_mobile_navbar {
    display: flex;

    > div {
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 1 1 0;
        padding: 5px;

        > .o_icon {
            margin-bottom: 4%;
            font-size: 1.3em;
        }

        > .o_label {
            font-size: 0.8em;
        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_discuss_mobile_navbar {
    box-shadow: 0 0 8px gray('400');

    > div {
        box-shadow: 1px 0 0 gray('400');

        &.o_active {
            color: $o-brand-primary;
        }
    }
}
