// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_EmojisPopover {
    display: flex;
    flex-flow: row wrap;
}

.o_mail_component_EmojisPopover__emoji {
    font-size: 1.1em;
    margin: 3px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_EmojisPopover__emoji {
    cursor: pointer;
}
