// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_message {
    display: flex;
    flex: 0 0 auto;
    padding: 5px;
}

.o_mail_component_message__author_avatar {
    width: 36px;
    height: 36px;
}

.o_mail_component_message__author_name {
    margin-right: 3px;
}

.o_mail_component_message__commands {
    display: flex;
    align-items: center;

}

.o_mail_component_message__content {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;

    > p:last-of-type {
        margin-bottom: 0;
    }
}

.o_mail_component_message__core {
    margin-right: 10px;
    overflow: auto;
}

.o_mail_component_message__footer {
    display: flex;
}

.o_mail_component_message__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.o_mail_component_message__header_commands {
    margin-left: 3px;
    margin-right: 3px;
}

.o_mail_component_message__header_date {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0.9rem;
}

.o_mail_component_message__sidebar {
    flex: 0 0 50px;
    max-width: 50px;
    display: flex;
    margin-right: 5px;
    font-size: x-small;
    justify-content: center;

    &.o_squashed {
        align-items: flex-start;

        .o_mail_component_message__squashed_sidebar_item {
            display: flex;
        }
    }
}

.o_mail_component_message__squashed_sidebar_item {
    margin-left: 3px;
    margin-right: 3px;
}

.o_mail_component_message__star_command {
    font-size: 1.3rem;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_message {
    background-color: white;

    &:hover, &.o_toggled_click {

        .o_mail_component_message__command {
            opacity: 1;
        }

        .o_mail_component_message__commands {
            opacity: 1;
        }

        .o_mail_component_message__squashed_sidebar_item {
            opacity: 1;
        }
    }

    &.o_starred {

        .o_mail_component_message__commands {
            opacity: 1;
        }

        .o_mail_component_message__star_command {
            opacity: 1;
        }
    }

    &.o_notification:not(.o_discussion) {
        background-color: gray('200');
        border-bottom: 1px solid gray('400');
    }
}

.o_mail_component_message__author_name {
    font-weight: bold;
}

.o_mail_component_message__author_redirect {
    cursor: pointer;
}

.o_mail_component_message__command {
    cursor: pointer;
    opacity: 0;

    &:not(:hover) {
        opacity: 0.6;
    }
}

.o_mail_component_message__commands {
    opacity: 0;
}

.o_mail_component_message__content .o_mention {
    color: $o-brand-primary;
    cursor: pointer;

    &:hover {
        color: darken($o-brand-primary, 15%);
    }
}

.o_mail_component_message__date {
    color: gray('500');
}

.o_mail_component_message__squashed_sidebar_item {
    opacity: 0;
}

.o_mail_component_message__star_command {

    &:hover {
        filter: brightness(0.9);
    }

    &:not(.o_starred) {
        color: gray('500');
    }

    &.o_starred {
        color: gold;
    }
}
