// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_MessageList {
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.o_mail_component_MessageList__loadMore,
.o_mail_component_MessageList__loadingMore {
    align-self: center;
}

.o_mail_component_MessageList__loadingMoreIcon {
    margin-right: 3px;
}

.o_mail_component_MessageList__separator {
    display: flex;
    align-items: center;
    padding: 0 0;
    flex: 0 0 auto;
}

.o_mail_component_MessageList__separatorDate {
    padding: 5px 0;
}

.o_mail_component_MessageList__separatorLine {
    flex: 1 1 auto;
    width: auto;
}

.o_mail_component_MessageList__separatorNewMessages {
    // bug with safari: container does not auto-grow from child size
    padding: 0 0;
}

.o_mail_component_MessageList__separatorLabel {
    padding: 0 10px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_MessageList {
    background-color: white;
}

.o_mail_component_MessageList__loadMore {
    cursor: pointer;
}

.o_mail_component_MessageList__separator {
    font-weight: bold;
}

.o_mail_component_MessageList__separatorLine {
    border-color: gray('400');
}

.o_mail_component_MessageList__separatorLineNewMessages {
    border-color: lighten($o-brand-odoo, 15%);
}

.o_mail_component_MessageList__separatorNewMessages {
    color: lighten($o-brand-odoo, 15%);

}

.o_mail_component_MessageList__separatorLabel {
    background-color: white;
}
