// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_ThreadPreview {
    display: flex;

    &:hover .o_mail_component_ThreadPreview__markAsRead {
        display: flex;
    }
}

.o_mail_component_ThreadPreview__content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    min-width: 0;
    margin: 3px;
}

.o_mail_component_ThreadPreview__core {
    display: flex;
}

.o_mail_component_ThreadPreview__coreItem {
    margin: 0 3px;

    &:first-of-type {
        margin-left: 0px;
    }

    &:last-of-type {
        margin-right: 0px;
    }
}

.o_mail_component_ThreadPreview__counter {
    margin: 0 3px;
}

.o_mail_component_ThreadPreview__date {
    flex: 0 0 auto;
}

.o_mail_component_ThreadPreview__header {
    display: flex;
}

.o_mail_component_ThreadPreview__image {
    width: 40px;
    height: 40px;
}

.o_mail_component_ThreadPreview__inlineText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.o_mail_component_ThreadPreview__inlineTextPrefix {
    margin-right: 3px;
}

.o_mail_component_ThreadPreview__markAsRead {
    display: none;
    flex: 0 0 auto;
}

.o_mail_component_ThreadPreview__name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.o_mail_component_ThreadPreview__sidebar {
    margin: 3px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_ThreadPreview {
    background-color: white;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: gray('300');
    }

    &.o_unread {

        .o_mail_component_ThreadPreview__counter,
        .o_mail_component_ThreadPreview__name {
            font-weight: bold;
        }
    }
}

.o_mail_component_ThreadPreview__core {
    color: gray('500');
}

.o_mail_component_ThreadPreview__date {
    font-size: x-small;
    color: gray('500');
}

.o_mail_component_ThreadPreview__markAsRead {

    &:hover {
        opacity: 1;
        color: gray('600');
    }

    &:not(:hover) {
        opacity: 0.8;
    }
}
