
// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_ThreadIcon {
    display: flex;
    width: 13px;
    justify-content: center;
}

.o_mail_component_ThreadIcon__typing {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.o_mail_component_ThreadIcon__typingDot {
    display: inline-block;
    flex: 0 0 auto;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_ThreadIcon__away {
    color: theme-color('warning');
}

.o_mail_component_ThreadIcon__online {
    color: $o-enterprise-primary-color;
}

.o_mail_component_ThreadIcon__typingDot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: gray('500');
}

// ------------------------------------------------------------------
// Animation
// ------------------------------------------------------------------

.o_mail_component_ThreadIcon__typingDot {
    animation: o_mail_component_ThreadIcon__typingDotAnimation 1.5s linear infinite;

    &:nth-child(2) {
        animation-delay: -1.35s;
    }

    &:nth-child(3) {
        animation-delay: -1.2s;
    }
}

@keyframes o_mail_component_ThreadIcon__typingDotAnimation {
    0%, 40%, 100% {
        transform: initial;
    }
    20% {
        transform: translateY(-5px);
    }
}
