// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_component_Thread {
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.o_mail_component_Thread__composer {
    flex: 0 0 auto;
}

.o_mail_component_Thread__loading {
    display: flex;
    align-self: center;
    flex: 1 1 auto;
    align-items: center;
}

.o_mail_component_Thread__messageList {
    flex: 1 1 auto;
}

.o_mail_component_Thread__noMessage {
    flex: 1 1 auto;
    height: 100%;
    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_Thread {
    background-color: gray('100');

}

.o_mail_component_Thread__loadingIcon {
    margin-right: 3px;
}
