// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

 .o_mail_component_ThreadPreviewList {
    display: flex;
    flex-flow: column;
}

.o_mail_component_ThreadPreviewList__noConversation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_component_ThreadPreviewList__preview:not(:last-of-type) {
    border-bottom: 1px solid gray('400');
}
