// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_wip_emojis_popover {
    display: flex;
    flex-flow: row wrap;

    > .o_emoji {
        font-size: 1.1em;
        margin: 3px;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_wip_emojis_popover > .o_emoji {
    cursor: pointer;
}
