// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

 .o_mail_wip_thread_preview_list > .o_preview {
    display: flex;

    &:hover > .o_content > .o_core > span.o_mark_as_read {
        display: flex;
    }

    > div {
        margin: 3px 3px;
    }

    > .o_content {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
        min-width: 0;

        > .o_core {
            display: flex;

            > span {
                margin: 0 3px;

                &:first-of-type {
                    margin-left: 0px;
                }

                &:last-of-type {
                    margin-right: 0px;
                }

                &.o_inline_text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    > i {
                        margin-right: 3px;
                    }
                }

                &.o_mark_as_read {
                    display: none;
                    flex: 0 0 auto;
                }
            }
        }

        > .o_header {
            display: flex;

            > .o_counter {
                margin: 0 3px;
            }

            > .o_date {
                flex: 0 0 auto;
            }

            > .o_name {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    > .o_sidebar > img {
        width: 40px;
        height: 40px;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_wip_thread_preview_list > .o_preview {
    background-color: white;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: gray('300');
    }

    &.o_unread > .o_content > .o_header {

        > .o_counter, .o_name {
            font-weight: bold;
        }
    }

    > .o_content {

        > .o_core {
            color: gray('500');

            > span.o_mark_as_read:hover {
                opacity: 1;
                color: gray('600');
            }

            > span.o_mark_as_read:not(:hover) {
                opacity: 0.8;
            }
        }

        > .o_header > .o_date {
            font-size: x-small;
            color: gray('500');
        }
    }
}
